{% extends 'layout.html' %}

{% block body %}




     <h2 class="room-title mt-5">1960's</h2>
     <nav class="room-nav">
         <ul class="pagination">
             <li class="page-item"><a class="page-link" href="/1960">1960's</a></li>
             <li class="page-item"><a class="page-link" href="/1970">1970's</a></li>
             <li class="page-item"><a class="page-link" href="/1980">1980's</a></li>
             <li class="page-item"><a class="page-link" href="/1990">1990's</a></li>
             <li class="page-item"><a class="page-link" href="/2000">2000's</a></li>
             <li class="page-item"><a class="page-link" href="/2010">2010's</a></li>
         </ul>
     </nav>


<div class="room-container">
    <div class="room-section ">
     <img src="static/img/1960-mouse.jpg" class="img-fluid "  alt="Responsive image">
     <h5>1964 – First computer mouse – Douglas Engelbort</h5>
             <h6>Computer Mouse: </h6>
             <p>The first computer mouse was invented by Douglas Engelbart in 1964. While we’re all
                    probably used to using a wireless mouse or a trackpad on a laptop, the first mouse had a
                    wooden shell, circuit board, and two metal wheels that connected with the surface beneath
                    it to control direction. This mouse was first publicly demonstrated at the 1968 Fall Joint
                    Computer Conference. The first computer mouse led the way for further innovation
                    including the “Ball Mouse”, optical mouse, and trackpads.
             </p>
    </div>

     <img src="static/img/1960-ram.png" class="img-fluid"  alt="Responsive image">
     <h5>1968 – DRAM (RAM) – Robert Dennard</h5>
            <h6>DRAM (RAM): </h6>
            <p>
                Dynamic Random Access Memory (DRAM), or RAM, is a type of computer memory that
                temporarily stores data. So, it’s basically the computer’s working memory. RAM is essential
                to the overall functionality of a computer because the more RAM a computer has, the more
                information the computer is able to work with at the same time. RAM was first patented by
                Robert Dennard in 1968. The Intel 1103 memory chip, which first came out in 1970, was the
                first DRAM chip released and by 1972 was the best-selling semiconductor memory chip in
                the world.
            </p>


     <h5 class="text-left">Sources:<a  data-toggle="collapse" href="#sources" role="button"> + </a></h5>
     <div id="sources" class="collapse">
         <p class="text-left">
         <ul class="text-left">
             <li><a href="http://www.computerhistory.org/timeline/1960/">http://www.computerhistory.org/timeline/1960/</a></li>
             <li><a href="http://wikibon.org/blog/timeline-of-computer-development/">http://wikibon.org/blog/timeline-of-computer-development/</a></li>
             <li><a href="http://www.computinghistory.org.uk/det/613/the-history-of-the-computer-mouse/">http://www.computinghistory.org.uk/det/613/the-history-of-the-computer-mouse/</a></li>
             <li><a href="https://www.digitaltrends.com/computing/what-is-ram/">https://www.digitaltrends.com/computing/what-is-ram/</a></li>
             <li><a href="http://history-computer.com/ModernComputer/Basis/dram.html">http://history-computer.com/ModernComputer/Basis/dram.html</a></li>
             <li><a href="http://www.computerhistory.org/siliconengine/microprocessor-integrates-cpu-function-onto-a-single-chip/">http://www.computerhistory.org/siliconengine/microprocessor-integrates-cpu-function-onto-a-single-chip/</a></li>
             <li><a href="https://www.techopedia.com/definition/2874/microprocessor">https://www.techopedia.com/definition/2874/microprocessor</a></li>
             <li><a href="https://www.theatlantic.com/technology/archive/2013/04/the-first-mobile-phone-call-was-made-40-years-ago-today/274611/">https://www.theatlantic.com/technology/archive/2013/04/the-first-mobile-phone-call-was-made-40-years-ago-today/274611/</a></li>
             <li><a href="https://www.techrepublic.com/pictures/tech-nostalgia-the-top-15-innovations-of-the-1990s/">https://www.techrepublic.com/pictures/tech-nostalgia-the-top-15-innovations-of-the-1990s/</a></li>
             <li><a href="https://www.cnet.com/news/the-10th-anniversary-of-the-mp3-player/">https://www.cnet.com/news/the-10th-anniversary-of-the-mp3-player/</a></li>
             <li><a href="https://www.pcworld.com/article/2000276/a-brief-history-of-gps.html">https://www.pcworld.com/article/2000276/a-brief-history-of-gps.html</a></li>
             <li><a href="http://historycooperative.org/the-history-of-the-iphone/">http://historycooperative.org/the-history-of-the-iphone/</a></li>
             <li><a href="https://nest.com/press/nest-labs-introduces-worlds-first-learning-thermostat/">https://nest.com/press/nest-labs-introduces-worlds-first-learning-thermostat/</a></li>
             <li><a href="https://www.raspberrypi.org/help/what-%20is-a-raspberry-pi/">https://www.raspberrypi.org/help/what-%20is-a-raspberry-pi/</a></li>
         </ul>
         </p>
     </div>
</div>
     <nav class="room-nav mb-5">
         <ul class="pagination">
             <li class="page-item"><a class="page-link" href="/1960">1960's</a></li>
             <li class="page-item"><a class="page-link" href="/1970">1970's</a></li>
             <li class="page-item"><a class="page-link" href="/1980">1980's</a></li>
             <li class="page-item"><a class="page-link" href="/1990">1990's</a></li>
             <li class="page-item"><a class="page-link" href="/2000">2000's</a></li>
             <li class="page-item"><a class="page-link" href="/2010">2010's</a></li>
         </ul>
     </nav>


{% endblock %}
