{% extends 'layout.html' %}

{% block body %}
<div class="about-container">
 <!--Store-->
    <div class="museum-img">
             <img src="static/img/museum.jpg">
         </div>
     <div class="container">
         <div class=" about-info">
             <h1>About  Virtual Museum of Technology</h1>
        <p>The Virtual Museum of Technology is a family-friendly interactive science and technology center located in the heart of downtown San Jose, California. It has become a landmark for visitors seeking a glimpse of the most inventive place on Earth — Silicon Valley.</p>
         <p>Thanks to the vision of this institution’s leadership and unwavering support from staff members, volunteers, donors and patrons, The Tech has grown to be far more than just a museum. It is a valued community resource for education and innovation, one that in 2015 was awarded the National Medal for Museum and Library Service, the highest honor a United States museum can achieve.</p>

         <p>We are driven by our mission: to inspire the innovator in everyone.</p>

         </div>
         <img src="">
     </div>

</div>

{% endblock %}
