<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="IT Capstone Assignment">
        <meta name="author" content="Wesley Otero">
        <title>Virtual Museum of Technology</title>
        <link rel="shortcut icon" type="img/me.ico" href="img/me.ico"/>
        <link rel="shortcut icon" type="img/me.ico" href="http://#/favicon.png"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename ='styles.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>

    <body>

      {% include 'includes/_navbar.html' %}
      {% block body %}{% endblock %}
      <!-- Footer -->
      <footer>
          <div class="row">
              <div class="col-sm-4 text-white">

              </div>
              <div class="col-sm-4 text-white" id="footer-content" >
                  <p>Virtual Museum of Technology Copyright 2018 &COPY;</p>
              </div>

          </div>
      </footer>
<!-- Bootstrap -->
      <script type="text/javascript" src="static/game.js"></script>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    </body>


</html>
