{% extends 'layout.html' %}

{% block body %}

 <!--Content-->
 <div class="container-fluid" id="container">
    <div class="row">
        <div class="col-sm-2">
            <!--Empty Side Space-->
        </div>
        <div class="col-sm-8">            
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1960's</a></li>
                    <li class="page-item"><a class="page-link" href="#">1970's</a></li>
                    <li class="page-item"><a class="page-link" href="#">1980's</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-sm-2">
            <!--Empty Side Space-->
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <!--Empty Side Space-->
        </div>
        <div class="col-sm-8">            
            <img src="static/img/stock_800.png" class="img-fluid" width="600px" alt="Responsive image">
            <h2 class="display-4">Lorem Ipsum</h2>
            <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ultricies lectus vulputate, commodo magna ac, vulputate nisl. Vivamus nunc diam, vehicula sit amet efficitur sed, hendrerit id ex. Morbi pulvinar, sem in pellentesque ornare, nisi nulla condimentum metus, ultricies fringilla eros nibh ac velit. Aenean sem ex, ullamcorper in libero eu, venenatis volutpat libero. Etiam turpis justo, vulputate id erat eu, interdum auctor justo. Ut cursus cursus turpis, non convallis lacus laoreet quis. Nullam mollis ac enim id laoreet. Mauris finibus quam iaculis elit elementum tincidunt. Suspendisse rhoncus varius scelerisque.

                    Pellentesque vitae dolor libero. Donec eros lectus, ornare a est nec, consectetur tristique enim. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc vulputate sodales sapien, vitae tempor enim. Maecenas ullamcorper, libero quis ultrices dictum, libero ipsum tempus sapien, id scelerisque urna odio a erat. Pellentesque vitae dolor sagittis, ultrices lacus sit amet, lobortis enim. In feugiat, erat tempus varius lobortis, neque dolor tincidunt mi, vel porta velit erat at risus. Integer non augue a ipsum gravida lacinia sit amet eu elit. Nullam euismod dolor ut massa fermentum, sit amet malesuada purus suscipit. Ut vitae nisl lorem. Donec id nibh tristique, mollis sapien ut, scelerisque nisl. Aenean sit amet aliquet lectus. Nulla gravida dolor at urna vehicula consequat.
            <br>
            <br>
                    Praesent ligula tortor, pretium ut consectetur id, suscipit at dui. Integer gravida scelerisque dui sit amet auctor. Curabitur at lacus at lectus porttitor dapibus. Duis quis metus a arcu gravida gravida. Etiam luctus pharetra nulla, id fermentum purus pellentesque et. Donec at orci a nisl faucibus sollicitudin nec semper tortor. Nunc posuere sem eget tempor congue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                    
                    Vestibulum dapibus quam ac augue congue convallis. Praesent luctus orci sed accumsan ultrices. Nunc rhoncus orci a mollis fringilla. Donec pharetra erat at enim dapibus vestibulum. Aenean sed lacus aliquam, maximus ante nec, venenatis libero. Phasellus maximus neque nunc. Curabitur ut nulla magna. Mauris justo tortor, placerat nec rhoncus a, semper in augue. Fusce molestie erat eget est pellentesque, non tincidunt nisi lacinia. Morbi vel turpis eu ligula vestibulum pellentesque ac vitae dui.
                    
                    Fusce lorem eros, tempus quis enim nec, suscipit consectetur enim. Pellentesque laoreet rhoncus justo, ac gravida lectus imperdiet sit amet. Mauris venenatis mauris cursus, luctus lorem eget, elementum turpis. Suspendisse a ligula ac dolor tristique consectetur at et mi. Fusce purus tellus, viverra non cursus sed, varius a nulla. Donec quis tincidunt ipsum. In aliquet, lacus non tristique viverra, sapien nisi laoreet mauris, nec vestibulum mauris justo vel lectus.
            </p>
        </div>
        <div class="col-sm-2">
            <!--Empty Side Space-->
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2">
            <!--Empty Side Space-->
        </div>
        <div class="col-sm-8">            
            <img src="static/img/stock_800.png" class="img-fluid" width="600px" alt="Responsive image">
            <h2 class="display-4">Lorem Ipsum</h2>
            <p>
                    Vivamus sagittis faucibus odio, vitae fermentum arcu placerat vel. Aliquam volutpat interdum orci sit amet elementum. Maecenas iaculis feugiat rutrum. Aliquam feugiat ligula felis, sed faucibus orci euismod nec. Vivamus quis eros sed ipsum finibus semper. Donec dapibus volutpat neque, et mollis orci pulvinar vitae. Etiam cursus dictum sem vel pulvinar. Morbi pellentesque sodales neque sit amet egestas. Sed tempus posuere diam, quis semper nunc molestie non. Aliquam rutrum metus purus, id mattis quam laoreet vitae. Fusce est leo, aliquam a dui ut, sodales venenatis risus. Proin massa neque, mattis eget imperdiet id, ultricies eu nunc.

                    Pellentesque in egestas ex. Ut mattis blandit tempor. Ut cursus condimentum imperdiet. Nam porta ac sem non auctor. Quisque ultricies lacinia nulla. Morbi vel congue sem, eget sodales diam. Proin sodales tristique turpis, at viverra tortor rhoncus et. Praesent auctor quam nec rutrum egestas. Donec gravida felis id mi luctus, vitae suscipit ex consectetur. Fusce sodales diam in interdum rhoncus.
            <br>
            <br>
                    Nullam vitae sem sed justo tincidunt imperdiet. Mauris suscipit nec diam non bibendum. Donec sagittis viverra sapien et tempor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec volutpat nisl ac auctor facilisis. Suspendisse sit amet pellentesque leo. Nunc maximus tincidunt vehicula. Donec cursus augue eu tellus finibus sagittis. Phasellus ultricies ullamcorper laoreet. Suspendisse eget justo nec purus fringilla ornare ac pellentesque purus. Proin placerat, mi quis vehicula vulputate, velit dui faucibus lacus, ac tempor nibh magna ut lacus. Sed eros quam, sodales vitae odio id, interdum cursus odio. Ut at facilisis massa.

                    Proin lacus est, congue et enim scelerisque, iaculis euismod felis. Pellentesque vestibulum, nunc id fermentum posuere, ligula nisi commodo sapien, in porttitor tortor erat sed augue. Morbi molestie justo eget feugiat tincidunt. Mauris cursus, lorem at dignissim dictum, nibh velit sodales est, vitae ultrices ligula augue et lectus. Donec imperdiet turpis nec enim dignissim iaculis. Ut ut nibh mi. Suspendisse eget tortor eget lacus tempor cursus. Sed sit amet augue purus. Integer tellus lacus, mattis hendrerit lobortis vitae, fringilla in nulla. Ut fringilla elementum hendrerit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur sit amet lectus auctor, congue tortor vitae, mattis felis.
            <br>
            <br>
                    Maecenas dignissim ante ut sapien imperdiet feugiat. Fusce nisl diam, varius sed ligula ut, sollicitudin fermentum lorem. Proin eget venenatis tortor. Fusce at molestie neque. Fusce facilisis purus eget turpis pulvinar pharetra. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque vulputate ultricies iaculis. Praesent iaculis ipsum suscipit neque porttitor laoreet. Mauris aliquam elementum nulla at placerat.

                    Cras accumsan leo libero, et congue mi faucibus quis. Fusce elementum, libero sit amet imperdiet auctor, dolor leo efficitur felis, sed commodo metus odio quis magna. Phasellus efficitur est ac mauris lacinia, mattis luctus ipsum euismod. Donec nunc quam, viverra at tincidunt sit amet, iaculis ac mi. Sed quis faucibus magna. Suspendisse potenti. Phasellus vitae tellus nec metus consectetur facilisis.

                    Sed nec lorem bibendum justo interdum fermentum. Aliquam erat volutpat. Nunc tempor magna id dolor gravida gravida. Etiam erat urna, rhoncus vel volutpat eget, interdum eu enim. Integer in dui vitae ante bibendum tincidunt ac vitae est. Morbi ac magna sit amet sapien dignissim porttitor. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque sodales urna viverra, placerat quam non, commodo velit. Aliquam faucibus sapien sit amet nisi ullamcorper vestibulum id vel lacus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam consectetur mollis est. Donec eget fringilla risus, quis feugiat lectus. Praesent a elementum ex, at tristique diam. Donec egestas nunc ultrices eros aliquet porttitor. Proin vel ligula sed nunc pharetra molestie id a nisl.
            </p>
        </div>
        <div class="col-sm-2">
            <!--Empty Side Space-->
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2">
            <!--Empty Side Space-->
        </div>
        <div class="col-sm-8">            
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="/museum/1970s">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="/museum/1970s">1960's</a></li>
                    <li class="page-item"><a class="page-link" href="/museum/1970s">1970's</a></li>
                    <li class="page-item"><a class="page-link" href="/museum/1970s">1980's</a></li>
                    <li class="page-item"><a class="page-link" href="/museum/1970s">Next</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-sm-2">
            <!--Empty Side Space-->
        </div>
    </div>
    

</div>
{% endblock %}
