{% extends 'layout.html' %}

{% block body %}

       <!-- Content: -->
       <div class="container-fluid" id="container">
        <div class="row" >
            <div class="col-sm">
            </div>
            <div class="col-sm">
                <div id="form">
                    {% from "includes/_formHelpers.html" import render_field %}
                    <form method="POST" action="">
                        <div class="form-group">
                            <label for="inputPassword">Please enter your new password</label>
                            <div class="form-group">
                                {{render_field(form.password, class_="form-control",id="inputPassword", placeholder="New Password")}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword">Confirm Password</label>
                            <div class="form-group">
                                {{render_field(form.pwConfirm, class_="form-control",id="inputPassword2", placeholder="Confirm Password")}}
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Reset Password</button>
                      </form>
                </div>
            </div>
            <div class="col-sm">
            </div>
        </div>
    </div>
{% endblock %}
